.pirce{
	font-size:16px;
	font-weight:bold;
	color:orange;
	display:inline;
}
.navbar-nav > li > a {
    margin-top: 2px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.navbar-nav {
    float: left;
    margin: 0 0 0 10px;
}

blockquote {

    margin: 0 0 10px;
 
}

.headline {
    border-bottom: 1px dotted #e4e9f0;
    display: block;
    margin: 0 0 5px;
	}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 5px;
    padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.btnAds{
	background:red;
	padding:5px;
	font-size:19px;
	color:white;
	
}
.sky-form .select i {
    height: 6px;
    right: 1px;
    top: 10px;
    width: 9px;
}
.bgMainMenu{
	background: #f18436 none repeat scroll 0 0;
	 border-radius: 0px;
}
.btn-search1{
	font-size: 15px;
    font-weight: bold;
    height: 35px;
    margin-left: 140px;
    width: 200px;
    background:orange;
}
.linkMainMenu{
   
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.nav > li > a {
	 padding-left: 10px;
	  padding-right: 10px;
	  border-right:1px dotted orange;
	  
}
.sky-form .select i::after, .sky-form .select i::before{
	 right: 5px;
}

.input-group-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 3px 10px;
    text-align: center;
}


.breadcrumb{
	margin-bottom: 0px;
	top:0px;
}
.sky-form header {
    /*background: #fff none repeat scroll 0 0;*/
    color: inherit;
    display: block;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}
.sky-form fieldset {
    background:  none repeat scroll 0 0;
}
.postRL{
	width:200px;
}
.tag-box {
    background: #fafafa none repeat scroll 0 0;
    margin-bottom: 0px;
    padding: 2px;
}
.btn-left-right{
	float:right
}
.box-margin-top5{
	margin-top:5px;
}
.box-margin-bottom5{
	margin-bottom:5px;
}
.box-margin-left5-right5{
	margin-left:5px;
	margin-right:5px;
}
.couterUserVisit{
	padding:20px;
	border-radius:10px;
	background:#72c02c;
	color:white;
}
.relativeBox{
	
	position:relative;
	top:-40px;
}
header.one-green {
    background: #c7ffca none repeat scroll 0 0;
}
.headerTitleSearch{
	padding-left: 11px;
    padding-right: 16px;
}
#formSearchForSales{
	background:#ffffce;
}

#formSearchForRent{
	background:#c7ffca;
}


.sky-form header {
    background:  none repeat scroll 0 0;
}
#formSubPost{
	background:#ffffce;
}
blockquote.hero{
	background:#c7ffca;
	padding: 5px;
}
blockquote {
    margin: 0;
}
.mainMenuPostRent{
	background:#ffffce ;
	color:#4765a0  ;
}
.bgLogo{
	border:2px solid #4765a0 ;
	/*background:#ffffce   ;*/
}
.tab-v3 .nav-pills li a:hover, .tab-v3 .nav-pills li.active a {
    background: #79d5b3 none repeat scroll 0 0;
    border: 1px solid #68af28;
    color: #fff;
}
.tab-v3 .nav-pills li a {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #eee;
    color: #777;
    font-size: 13px;
    margin-bottom: 3px;
    padding: 4px;
}
.tab-v3 .nav-pills li a .titleActive{
	background: #79d5b3 none repeat scroll 0 0;
}
.btnDetailReailty{
	font-size: 18px;
	padding:5px;
}
.footer-v1 .footer {
    background: #272727 none repeat scroll 0 0;
    font-size: 12px;
    font-weight: bold;
    padding: 40px 0;
}

/*CSS EDIT BY KHUN MUK START*/
.easy-block-v2 img{
	width:"";
}
/*
.mainMenuPostRent {
    background: #ffff7a none repeat scroll 0 0;
    color: black;
    font-weight: bold;
}
.sky-form  {
    background: white none repeat scroll 0 0;
    font-weight: bold;
    padding: 0;
}
#muk_bg_rent_search{
	 background:#95a5a6;
}
.muk_btn-u-submit{
	 background:#ffff7a;
	color:black;
}
.muk_btn-u-submit-sale{
	 background:#ff93c8;
	color:black;
}
.muk_btn-u-submit-sale:active{
	 background:#ff93c8;
	color:black;
}
.muk_btn-u-submit-sale:hover{
	 background:#ff188c;
	color:black;
}

.mainMenuPost{
    background: #ff93c8 none repeat scroll 0 0;
    color: black;
    font-weight: bold;
}
.mainMenuPost:hover{
    background: #ff188c none repeat scroll 0 0;
    color: black;
    font-weight: bold;
}

*/
/*CSS EDIT BY KHUN MUK END*/
p{
	margin:0px;
}