.pirce{
	font-size:16px;
	font-weight:bold;
	color:orange;
	display:inline;
}
.navbar-nav > li > a {
    margin-top: 2px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.navbar-nav {
    float: left;
    margin: 0 0 0 10px;
}

blockquote {

    margin: 0 0 10px;
 
}

.headline {
    border-bottom: 1px dotted #e4e9f0;
    display: block;
    margin: 0 0 5px;
	}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 5px;
    padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.btnAds{
	background:red;
	padding:5px;
	font-size:19px;
	color:white;
	
}
.sky-form .select i {
    height: 6px;
    right: 0;
    top: 10px;
    width: 9px;
}
.bgMainMenu{
	background: #f18436 none repeat scroll 0 0;
	 border-radius: 0px;
}
.btn-search1{
	 width: 480px;
}
.linkMainMenu{
   
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.nav > li > a {
	 padding-left: 10px;
	  padding-right: 10px;
	  border-right:1px dotted orange;
	  
}
.sky-form .select i::after, .sky-form .select i::before{
	 right: 5px;
}

.input-group-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 3px 10px;
    text-align: center;
}


.breadcrumb{
	margin-bottom: 0px;
	top:0px;
}
.sky-form header {
    background: #fff none repeat scroll 0 0;
    color: inherit;
    display: block;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}
.postRL{
	width:200px;
}
.tag-box {
    background: #fafafa none repeat scroll 0 0;
    margin-bottom: 10px;
    padding: 5px;
}
.btn-left-right{
	float:right
}
.box-margin-top5{
	margin-top:5px;
}
.box-margin-bottom5{
	margin-bottom:5px;
}
.box-margin-left5-right5{
	margin-left:5px;
	margin-right:5px;
}
.couterUserVisit{
	padding:20px;
	border-radius:10px;
	background:#72c02c;
	color:white;
}
.relativeBox{
	
	position:relative;
	top:-40px;
}
header.one-green {
    background: #c7ffca none repeat scroll 0 0;
}



